body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}



div .logo .image{
   float: left;

}

div .logo .title{
    float: left;
    margin-top: 50px;
    padding-left: 20px;
    text-align: left;
    font-size: 4rem;
}

div .image {
    width: 150px;
    margin-top: 20px;
}

div nav {
    background-color: #E9AC86;
    color: #fff;
    padding: 20px;
    text-align: center;
    float: left;
}

div nav ul {
    list-style: none;
    margin: 0;
    padding-left: 300px;
    margin-right: 100px;
    display: inline-block;
    padding-top: 70px;
    font-size: 40px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.main {
    flex: 1;
}

h1 {
    font-size: 5rem;
}

footer {
    background-color: #463B41;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer .image{
    float: right;
}

footer .logo{
    float: left;
}

@media (max-width: 680px) {
    .logo {
      width: 100px;
    }
  
    h1 {
      font-size: 3.5rem;
      text-align: center;
    }
  }
  