.main {
    flex: 1;
}

.tile-image {
    width: 300px;
    float: left;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    width: 45%;
}

.left {
    float: left;
}
  
.right {
    float: right;
}