div nav {
    background-color: #E9AC86;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
}

div nav ul {
    list-style: none;
    margin: 0;
    padding-left: 300px;
    margin-right: 100px;
    display: inline-block;
    padding-top: 70px;
    font-size: 40px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 680px){
    div .image {
        display: none;
    }
    
    div .logo .title{
        display: none;
    }

    div nav {
        padding: 20px;
        text-align: center;
        width: 100%;
        display: flex;
    }
    
    div nav ul {
        list-style: none;
        margin: 0;
        padding-left: 25px;
        margin-right: 0px;
        display: inline-block;
        padding-top: 0px;
        font-size: 15px;
    }
    
    nav li {
        display: inline-block;
        margin-right: 20px;
    }
}